//////////////3.1//////////////////////////////////
//Styling requirements for boxes-9 and-10

//1. Using all available knowledge, make boxes-9 and-10 the same height.

//2. When there is too much content, boxes-9 and-10 should automatically expand their height.

////////////////////////////////////////////////////////////
.box-8 {
  //Box-8 style

  width: 300px;

  margin: 16px auto;

  padding: 25px 50px;

  border: 1px solid black;

  display: flex;
}

.box-9 {
  width: 100px;

  border: 1px solid red;

  //box-9 style
}

.box-10 {
  width: 100px;

  border: 1px solid blue;

  //box-10 style
}

//////////////3.2/////////////////////////////////////
//box-11, box-12 style requirements

//1. Box-12 should be horizontally and vertically centered within box-11

/////////////////////////////////////////////////////////////

.box-11,
.box-12 {
  border: 1px solid black;
}

.box-11 {
  margin: 16px auto;

  width: 200px;

  height: 200px;

  //box-11 style
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-12 {
  width: 100px;

  height: 100px;
}

//////////////3.3////////////////////////////////////
//box-13 style requirements

//1. Apply each property of flex-direction to box-13 in turn and observe

//differences

/////////////////////////////////////////////////////////

.box-13 {
  margin: 16px auto;

  width: 300px;

  height: 300px;

  border: 1px solid black;

  //box-13 Style
  display: flex;
  flex-direction: row; /* default value */
  // flex-direction: row-reverse;
  // flex-direction: column;
  // flex-direction: column-reverse;
}

///////////////3.4////////////////////////////////////

//box-14 Style Requirements

//1. Apply the properties of justify-content and align-items to box-14 in sequence and observe the differences

//////////////////////////////////////////////////////////////

.box-14 {
  margin: 16px auto;

  width: 300px;

  height: 300px;

  border: 1px solid black;

  //box-14 Style
  display: flex;
  justify-content: flex-start; /* default value */
  // justify-content: flex-end;
  // justify-content: center;
  // justify-content: space-between;
  // justify-content: space-around;
  // justify-content: space-evenly;
  // align-items: stretch; /* default value */
  align-items: flex-start;
  // align-items: flex-end;
  // align-items: center;
  // align-items: baseline;
}

//////////////3.5////////////////////////////////////
//box-15 Style Requirements

//1. Use flex-wrap and align-content to place the four boxes-12

//into the four corners of box-14 respectively

////////////////////////////////////////////////////////

.box-15 {
  margin: 16px auto;

  /* 
    Fix the width of the parent box so that the total area of the child boxes 
    does not exceed the width of the parent box
  */
  width: 300px;

  height: 420px;

  border: 1px solid black;

  //box-15 Styles
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

//////////////3.6///////////////////////////////////
//box-16, box-17 style requirements

//1. Use flex-grow to make box-17 occupy the remaining width of the box-16 element

/////////////////////////////////////////////////////////////
.box-16 {
  margin: 16px auto;

  width: 300px;

  height: 100px;

  border: 1px solid black;

  //box-16 style
  display: flex;
}

.box-17 {
  border: 1px solid black;

  //box-17 style
  flex-grow: 1;
}
